@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "RoleList";
}

<h2>RoleList</h2>
@Html.ActionLink("Create New Role", "CreateRole","Role")
<table>
    <thead>
        <tr>
            Role Name
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
            </tr>
        }
    </tbody>
</table>
