
@{
    ViewBag.Title = "UserDashBoardIndex1";
}

@*<h2>UserDashBoardIndex1</h2>

<button id="btnUserDeshboard1">UserDashboard1</button>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>

    $(document).ready(function () {

        $('#btnUserDeshboard1').click(function () {
            alert("dsfs");
            //Call EmpDetails jsonResult Method
           // $.getJSON("Home/EmpDetails",
            $.getJSON("UserDashBoard/UserDashBoardIndex1",
                function (json) {
                    var tr;
                    //Append each row to html table
                    for (var i = 0; i < json.length; i++) {
                        tr = $('<tr/>');
                        tr.append("<td>" + json[i].Id + "</td>");
                        tr.append("<td>" + json[i].Name + "</td>");
                        tr.append("<td>" + json[i].City + "</td>");
                        tr.append("<td>" + json[i].Address + "</td>");
                        $('table').append(tr);
                    }
                });
        });
    });
</script>
<table class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>City</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>*@

