@model dsd.Models.FileUpload1

@{
    ViewBag.Title = "fileupload";
}

<h2>fileupload</h2>

@using (Html.BeginForm("fileupload", "file", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.TextBox("file", "", new { type = "File" })
        <input type="submit" value="Upload1" />
    </div>
}

<fieldset>
    <legend style="font-family:Arial Black;color:blue">Upload Here</legend>
    <form action="" method="post" enctype="multipart/form-data">
        @if (ViewBag.ResultErrorMessage != null)
        {
            <script type="text/javascript">

    window.onload = function () {
        alert("@ViewBag.ResultErrorMessage");
       };
            </script>
        }
    </form>
</fieldset>

<footer>
    <p style="background-color: Yellow; color: Blue; text-align: center; font-style: oblique">© @DateTime.Now.ToLocalTime()</p> @*Add Date Time*@
</footer> 