<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form enctype="multipart/form-data">
        <input type="file" name="postedFile" />
        <input type="button" id="btnUpload" value="Upload" />
    </form>
    <progress id="fileProgress" style="display:none"></progress>
    <hr />
    <table id="tblFiles" cellpadding="0" cellspacing="0">
        <tr>
            <th style="width:50px">File ID</th>
            <th style="width:120px">File Name</th>
            <th style="width:80px">Download</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            GetFiles();
        });
        function GetFiles() {
            $.ajax({
                type: "POST",
                url: "/api/Default/GetFiles",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (files) {
                    $.each(files, function () {
                        AppendRow(this.id, this.Name);
                    });
                },
                failure: function (r) {
                    alert(r.d);
                },
                error: function (r) {
                    alert(r.d);
                }
            });
        };

        function AppendRow(id, name) {
            var row = $("#tblFiles tbody tr:last-child");

            //Remove if the row is dummy row.
            if (row.find("td:empty").length > 0) {
                row.remove();
            }

            row = row.clone();
            $("td", row).eq(0).html(id);
            $("td", row).eq(1).html(name);
            $("td", row).eq(2).html("");
            var a = $("<a />");
            a[0].href = '@Url.Content("~/api/Default/GetFile?FileId=")' + id;
            a.html("Download");
            $("td", row).eq(2).append(a);
            $("#tblFiles tbody").append(row);
        };

        $("body").on("click", "#btnUpload", function () {
            $.ajax({
                url: '@Url.Content("~/api/Default/SaveFile")',
                type: 'POST',
                data: new FormData($('form')[0]),
                cache: false,
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#fileProgress").hide();
                    AppendRow(response.id, response.Name);
                },
                xhr: function() {
                    var fileXhr = $.ajaxSettings.xhr();
                    if (fileXhr.upload) {
                        $("progress").show();
                        fileXhr.upload.addEventListener("progress", function (e) {
                            if (e.lengthComputable) {
                                $("#fileProgress").attr({
                                    value: e.loaded,
                                    max: e.total
                                });
                            }
                        } , false);
                    }
                    return fileXhr;
                }
            });
        });
    </script>
</body>
</html>
