@model dsd.Models.TaskModels

@{
    ViewBag.Title = "TaskAssignment";
}

<h2>TaskAssignment</h2>

@*<div class="form-group">
    @Html.LabelFor(m => m.TaskId, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m.TaskName, ViewBag.Name as SelectList, "----Select Task----", new { @class = "form-control" })
    </div>
</div>*@